<!DOCTYPE html>
<html lang="uk">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Перевірка високосного року</title>
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h1>Перевірка високосного року</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.year.label(class="form-label") }}
                {{ form.year(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</body>

</html>